<h3>FetchItem</h3>
@page "/CURD/FetchItem/{ItemCode:int}"
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using ABC_Supermarket.Shared.Models



<From ButtonText="Save" itemobj="itemobj" OnValidSubmit="@UpdateItem" />


@code {

    
    [Parameter] public int ItemCode { get; set; }
    ItemDetails itemobj;

    protected override async Task OnInitializedAsync()

    {

        try
        {
            itemobj = await client.GetFromJsonAsync<ItemDetails>($"api/ItemDetails/{ItemCode}");
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", $"No such records found!");
            uriHelper.NavigateTo("Items", true);
        }

    }
    async Task UpdateItem()
    {
        await client.PostAsJsonAsync("api/ItemDetails/UpdateItem", itemobj);
        //added the action name along with api/ItemDetails
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("Items", true);
    }
}
