<h3>FetchItem</h3>
@page "/CURD/FetchItem/{ItemCode:int}"
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using ABC_Supermarket.Shared.Models


@*<button class="btn btn-success" id="idcode" @onclick="@(() => FetchitemDetails(itemobj.ItemCode))">...</button>*@
@*<From ButtonText="Update" itemobj="itemobj" OnValidSubmit="@(() => UpdateItem(itemobj.ItemCode))" />*@
<From  itemobj="itemobj"/>


@code {

    //[Parameter] public ItemDetails itemobj { get; set; }
    //ItemDetails[] Items { get; set; }
    [Parameter] public int ItemCode { get; set; }
    ItemDetails itemobj;

    protected override async Task OnInitializedAsync()

    {
        //int ItemId = ItemCode;
        //itemobj = Items.First(x => x.ItemCode == ItemId);
        //var itemDetailsObj = await client.GetFromJsonAsync<ItemDetails>($"api/ItemDetails/{ItemCode}");
        itemobj = await client.GetFromJsonAsync<ItemDetails>($"api/ItemDetails/{ItemCode}");
        //uriHelper.NavigateTo("CURD/Form/" + itemDetailsObj.ToString());
    }
}
