<h3>Items</h3>

@page "/Items"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@using ABC_Supermarket.Shared.Models
@inject HttpClient client

<From ButtonText="Save" itemobj="itemobj" OnValidSubmit="@CreateItem" />



@code{
    ItemDetails itemobj = new ItemDetails();
    async Task CreateItem()
    {
        var retval = await http.PostAsJsonAsync("api/ItemDetails/CreateItem", itemobj);
        string value = await retval.Content.ReadAsStringAsync(); //right!
        if (value == itemobj.ItemName)
        {
            await js.InvokeVoidAsync("alert", $"Inserted Successfully!");
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"already exists!");
        }


        uriHelper.NavigateTo("Items", true);
    }

}