<h3>From</h3>

@code {
    [Parameter] public ItemDetails itemobj { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
